

  <div class="container">
    <div class="col-md-12">
      <div id="QandA" class="transitions-enabled">
        <hr>
        <div class="row">

          <div class="col-md-3">
            <div class="box2 panel panel-default">
              <div class="topic_resorts">
                <div class="panel-whole">
                  <div class="topic-welcome-text">
                    <h2 class="topic_welcome">Resorts</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% @resorts_posts.where("length(subtitle) > 0").limit(1).each do |post| %>
            
                <div class="col-md-9">
                  <div class="froala-view">
                    <br><%= link_to post.body.html_safe, post %>
                  </div>
                  <hr>
                  <p class="froalatext">What would your answer be? <%= link_to "Tell us!", post, class: 'btn btn-resorts-comment btn-sm' %><p>
                  <br>
                </div>
          
            <% end %>
          </div>
          <div class="row"> 
            <%= link_to tags_show_path(id:3), class: 'btn btn-resorts btn-lg btn-block' do %>
                        <%= image_tag("fairygirlhead.png", size: "22x22") %>
                        <span>See more about: Resorts</span>
                      <% end %>
          </div>
          <br>
   
      <div class="row">
          
          <div class="col-md-3">
            <div class="box2 panel panel-default">
              <div class="topic_parks">
                <div class="panel-whole">
                  <div class="topic-welcome-text">
                    <h2 class="topic_welcome">Parks</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% @parks_posts.where("length(subtitle) > 0").limit(1).each do |post| %>
            
                <div class="col-md-9">
                  <div class="froala-view">
                    <br><%= link_to post.body.html_safe, post %>
                  </div>
                  <hr>
                  <p class="froalatext">What would your answer be? <%= link_to "Tell us!", post, class: 'btn btn-parks-comment btn-sm' %><p>
                  <br>
                </div>
 
            <% end %>
        </div>   
        <div class="row">                   
          <%= link_to tags_show_path(id:19), class: 'btn btn-parks btn-lg btn-block' do %>
            <%= image_tag("fairygirlhead.png", size: "22x22") %>
            <span>See more about: Parks</span>
          <% end %>
        </div>

      <br>

      <div class="row">
          
          <div class="col-md-3">
            <div class="box2 panel panel-default">
              <div class="topic_dining">
                <div class="panel-whole">
                  <div class="topic-welcome-text">
                    <h2 class="topic_welcome">Dining</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% @dining_posts.where("length(subtitle) > 0").limit(1).each do |post| %>
            
                <div class="col-md-9">
                  <div class="froala-view">
                    <br><%= link_to post.body.html_safe, post %>
                  </div>
                  <hr>
                  <p class="froalatext">What would your answer be? <%= link_to "Tell us!", post, class: 'btn btn-dining-comment btn-sm' %><p>
                  <br>
                </div>
          
            <% end %>
        </div>
        <div class="row">
          <%= link_to tags_show_path(id:29), class: 'btn btn-dining btn-lg btn-block' do %>
            <%= image_tag("fairygirlhead.png", size: "22x22") %>
            <span>See more about: Dining</span>
          <% end %>
        </div>
      <br>

        <div class="row">
            
            <div class="col-md-3">
              <div class="box2 panel panel-default">
                <div class="topic_transport">
                  <div class="panel-whole">
                    <div class="topic-welcome-text">
                      <h2 class="topic_welcome">Transport</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <% @transport_posts.where("length(subtitle) > 0").limit(1).each do |post| %>
              
                <div class="col-md-9">
                  <div class="froala-view">
                    <br><%= link_to post.body.html_safe, post %>
                  </div>
                  <hr>
                  <p class="froalatext">What would your answer be? <%= link_to "Tell us!", post, class: 'btn btn-transport-comment btn-sm' %><p>
                  <br>
                </div>

              <% end %>
          </div>
          <div class="row">
            <%= link_to tags_show_path(id:23), class: 'btn btn-transport btn-lg btn-block' do %>
              <%= image_tag("fairygirlhead.png", size: "22x22") %>
              <span>See more about: Transport</span>
            <% end %>
          </div>
      <br>

        <div class="row">
            
            <div class="col-md-3">
              <div class="box2 panel panel-default">
                <div class="topic_shopping">
                  <div class="panel-whole">
                    <div class="topic-welcome-text">
                      <h2 class="topic_welcome">Shopping</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <% @shopping_posts.where("length(subtitle) > 0").limit(1).each do |post| %>
              
                <div class="col-md-9">
                  <div class="froala-view">
                    <br><%= link_to post.body.html_safe, post %>
                  </div>
                  <hr>
                  <p class="froalatext">What would your answer be? <%= link_to "Tell us!", post, class: 'btn btn-shopping-comment btn-sm' %><p>
                  <br>
                </div>
            
              <% end %>
          </div>
          <div class="row">
            <%= link_to tags_show_path(id:25), class: 'btn btn-shopping btn-lg btn-block' do %>
              <%= image_tag("fairygirlhead.png", size: "22x22") %>
              <span>See more about: Shopping</span>
            <% end %>
          </div>
      <br>

        <div class="row">
            
            <div class="col-md-3">
              <div class="box2 panel panel-default">
                <div class="topic_budgets">
                  <div class="panel-whole">
                    <div class="topic-welcome-text">
                      <h2 class="topic_welcome">Budgets</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <% @budgets_posts.where("length(subtitle) > 0").limit(1).each do |post| %>
              
                <div class="col-md-9">
                  <div class="froala-view">
                    <br><%= link_to post.body.html_safe, post %>
                  </div>
                  <hr>

                  <p class="froalatext">What would your answer be? <%= link_to "Tell us!", post, class: 'btn btn-budgets-comment btn-sm' %><p>
                  <br>
                </div>
            
              <% end %>
          </div>
          <div class="row">
            <%= link_to tags_show_path(id:27), class: 'btn btn-budgets btn-lg btn-block' do %>
              <%= image_tag("fairygirlhead.png", size: "22x22") %>
              <span>See more about: Budgets</span>
            <% end %>
          </div>
      <br>

    </div> 
  </div>
</div>
