

  <div class="container">
    <div class="col-md-12">
      <div id="QandA" class="transitions-enabled">


        <div class="row">
          <div class="col-md-3">
            <div class="box2 panel panel-default">
              <div class="topic_resorts">
                <div class="panel-whole">
                  <div class="topic-welcome-text">
                    <h2 class="topic_welcome">Resorts</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% @resorts_posts.each do |post| %>
              <% if post.subtitle.present? %> 
                <div class="col-md-3">
                  <div class="box2 panel panel-default">

                    <div class="panel-top">
                      <p class="boxes-center"><strong>Question</strong></p> 
                      <div class="hr-welcome"></div>
                      <p class="boxes"><%= link_to truncate(post.subtitle, length:135), post %></p>
                    </div>
                    
                    <div class="panel-body">
                      <hr>
                      <%= link_to post, class: 'btn btn-resorts btn-lg btn-block' do %>
                        <%= image_tag("fairygirlhead.jpg", size: "22x22") %>
                        <span>See Answer</span>
                      <% end %>
                    </div>

                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
   
      <div class="row"><%= link_to 'More', tags_show_path(id:3), class: 'btn btn-resorts btn-lg btn-block' %></div> 
      <br>

      <div class="section answers"> 
        <div class="row">
          <div class="col-md-3">
            <div class="box2 panel panel-default">
              <div class="topic_parks">
                <div class="panel-whole">
                  <div class="topic-welcome-text">
                    <h2 class="topic_welcome">Parks</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% @parks_posts.each do |post| %>
              <% if post.subtitle.present? %> 
                <div class="col-md-3">
                  <div class="box2 panel panel-default">
                    <div class="panel-top">
                      <p class="boxes-center"><strong>Question</strong></p> 
                      <div class="hr-welcome"></div>
                      <p class="boxes"><%= link_to truncate(post.subtitle, length:135), post %></p>
                    </div>

                    <div class="panel-body"><hr>
                      <%= link_to post, class: 'btn btn-parks btn-lg btn-block' do %>
                        <%= image_tag("fairygirlhead.jpg", size: "22x22") %>
                        <span>See Answer</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>

      <div class="row"><%= link_to 'More', tags_show_path(id:3), class: 'btn btn-parks btn-lg btn-block' %></div> 
      <br>

        <div class="row">
          <div class="col-md-3">
            <div class="box2 panel panel-default">
              <div class="topic_dining">
                <div class="panel-whole">
                  <div class="topic-welcome-text">
                    <h2 class="topic_welcome">Dining</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% @dining_posts.each do |post| %>
              <% if post.subtitle.present? %> 
                <div class="col-md-3">
                  <div class="box2 panel panel-default">
                    <div class="panel-top">
                      <p class="boxes-center"><strong>Question</strong></p> 
                      <div class="hr-welcome"></div>
                      <p class="boxes"><%= link_to truncate(post.subtitle, length:135), post %></p>
                    </div>
                    <div class="panel-body"><hr>
                      <%= link_to post, class: 'btn btn-dining btn-lg btn-block' do %>
                        <%= image_tag("fairygirlhead.jpg", size: "22x22") %>
                        <span>See Answer</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
     
      <div class="row"><%= link_to 'More', tags_show_path(id:3), class: 'btn btn-dining btn-lg btn-block' %></div> 
      <br>

      <div class="section answers"> 
        <div class="row">
          <div class="col-md-3">
            <div class="box2 panel panel-default">
              <div class="topic_transport">
                <div class="panel-whole">
                  <div class="topic-welcome-text">
                    <h2 class="topic_welcome">Transport</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% @transport_posts.each do |post| %>
              <% if post.subtitle.present? %> 
                <div class="col-md-3">
                  <div class="box2 panel panel-default">
                    <div class="panel-top">
                      <p class="boxes-center"><strong>Question</strong></p> 
                      <div class="hr-welcome"></div>
                      <p class="boxes"><%= link_to truncate(post.subtitle, length:135), post %></p>
                    </div>
                    <div class="panel-body"><hr>
                      <%= link_to post, class: 'btn btn-transport btn-lg btn-block' do %>
                        <%= image_tag("fairygirlhead.jpg", size: "22x22") %>
                        <span>See Answer</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>

 
      <div class="row"><%= link_to 'More', tags_show_path(id:3), class: 'btn btn-transport btn-lg btn-block' %></div> 
      <br>


        <div class="row">
          <div class="col-md-3">
            <div class="box2 panel panel-default">
              <div class="topic_shopping">
                <div class="panel-whole">
                  <div class="topic-welcome-text">
                    <h2 class="topic_welcome">Shopping</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% @shopping_posts.each do |post| %>
              <% if post.subtitle.present? %> 
                <div class="col-md-3">
                  <div class="box2 panel panel-default">
                    <div class="panel-top">
                      <p class="boxes-center"><strong>Question</strong></p> 
                      <div class="hr-welcome"></div>
                      <p class="boxes"><%= link_to truncate(post.subtitle, length:135), post %></p>
                    </div>
                    <div class="panel-body"><hr>
                      <%= link_to post, class: 'btn btn-shopping btn-lg btn-block' do %>
                        <%= image_tag("fairygirlhead.jpg", size: "22x22") %>
                        <span>See Answer</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>

   
      <div class="row"><%= link_to 'More', tags_show_path(id:3), class: 'btn btn-shopping btn-lg btn-block' %></div> 
      <br>

      <div class="section answers"> 
        <div class="row">
          <div class="col-md-3">
            <div class="box2 panel panel-default">
              <div class="topic_budgets">
                <div class="panel-whole">
                  <div class="topic-welcome-text">
                    <h2 class="topic_welcome">Budgets</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% @budgets_posts.each do |post| %>
              <% if post.subtitle.present? %> 
                <div class="col-md-3">
                  <div class="box2 panel panel-default">
                    <div class="panel-top">
                      <p class="boxes-center"><strong>Question</strong></p> 
                      <div class="hr-welcome"></div>
                      <p class="boxes"><%= link_to truncate(post.subtitle, length:135), post %></p>
                    </div>
                    <div class="panel-body"><hr>
                      <%= link_to post, class: 'btn btn-budgets btn-lg btn-block' do %>
                        <%= image_tag("fairygirlhead.jpg", size: "22x22") %>
                        <span>See Answer</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>

     
      <div class="row"><%= link_to 'More', tags_show_path(id:3), class: 'btn btn-budgets btn-lg btn-block' %></div> 
      <br>

    </div> 
  </div>
</div>

