<%= render 'layouts/navbar' %> 
<div class="container">
  <div class="jumbotron">
    <h1 class="nobootstrap">Answer topic: <strong><%= @tag.name %> </strong></h1>
		<hr>

		<div id="topics" class="transitions-enabled"> 
		  
		  <% @posts.each do |post| %>
		    <div class="box1 panel panel-default">
		    	<%= link_to image_tag(post.image.url(:medium)), post%>
					<div class="panel-body">
            <p class="recentpost"><%= link_to truncate(post.title, length:35, separator:' ' ), post %></p>
          </div>
		    </div>
		  <% end %>

		</div>
		
		<div class="center"><%= link_to 'Back', posts_path, class: "btn btn-back btn-lg" %></div>
	</div>
<%= render 'layouts/footer' %> 
</div>

