<%= form_for [@post], html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tag_list %>
  </div>
  </br>
    <%= f.label :body %>
    <%= f.text_area :body, id: "wysiwyg" %> 
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script>

 $('#wysiwyg').froalaEditor({
    inlineMode: false,
    heightMin: '200px',
    imageUploadToS3: {
      bucket: '<%= @hash[:bucket] %>',
      region: 's3', // Change the region if it is different
      keyStart: '<%= @hash[:key_start] %>',
      callback: function (url, key) {
        console.log (url);
        console.log (key);
      },
      params: {
        acl: '<%= @hash[:acl] %>',
        AWSAccessKeyId: '<%= @hash[:access_key] %>',
        policy: '<%= @hash[:policy] %>',
        signature: '<%= @hash[:signature] %>',
      }
    },
    fontFamily: {
        "Roboto,sans-serif": 'para - Roboto',
        "'Delius Swash Caps',sans-serif": 'head - Delius',
      },
      fontFamilySelection: true,
    paragraphStyles: {
        froalapara: 'Para',
        froalahead: 'Heading',
      },
    fileUploadToS3: {
      bucket: '<%= @hash[:bucket] %>',
      region: 's3', // Change the region if it is different
      keyStart: '<%= @hash[:key_start] %>',
      callback: function (url, key) {
        console.log (url);
        console.log (key);
      },
      params: {
        acl: '<%= @hash[:acl] %>',
        AWSAccessKeyId: '<%= @hash[:access_key] %>',
        policy: '<%= @hash[:policy] %>',
        signature: '<%= @hash[:signature] %>',
      }
    }
 })
</script>


      

