<p id="notice"><%= notice %></p>

<h1>Monorails and Mickey Tales</h1><br><br>
  <div class="container">
    <div class="jumbotron">
      <div id="greetings" class="froala-view" class="float-center">
        
        <% @posts.each do |post| %>
          
          <hr><hr><hr>
          <h2><%= post.title %></h2>
          <h3><%= post.subtitle %></h3>
          <div class="block-with-text"><%= post.body.html_safe %></div>
          
          <%= link_to 'Show', post %>
          
          <% if post.user == current_user %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>

        <% end %>
        
      </div>
    </div> 
  </div>


     <hr><hr><hr>
  