<html lang="en">
<p id="notice"><%= notice %></p>

<body id="home">
<!-- Preloader -->
  <div id="preloader">
    <div id="status">
    </div>

<!-- NavBar custom only for home page-->

<nav class="navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
      <%= link_to image_tag("fairygirledit.png", class: "rotate", size: "40x40") %> 
      <a class="navbar-brand" href="#home">monorails & mickey tales</a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="menuItem"><a href="#contact">Ask a Question</a></li>
        <li class="menuItem"><a href="#useit">Today's Answers</a></li>
        <li class="menuItem"><a href="#whatis">Archive</a></li>
        <li class="menuItem"><a href="#screen">About</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->

<!-- Contact Me -->
<div class="section">
  <span id="contact" class="anchor"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center abcen3">
          <br>
          <!-- <h2 class="h1_home wow fadeIn"> Ask      <i class="fa fa-magic"></i></h2> --> 
          <br>
          <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", class: "rotate", size: "60x60") %> 
          Hi, there! I'm your Fairy Godmother. <br><br></h1>
          <p class="lead" style="margin-top:0">
            Kidding! I'm just a Disney World nerd who daydreams about FastPasses and dining plans.<br>Need help planning a trip?<br>Send me your questions <i class="fa fa-arrow-down" aria-hidden="true"></i> then check back later today for your answers!
          </p>
          <br>
          <%= render 'contacts/new' %> 
          <br>
          <hr>    
          <br>        
        </div>

    </div>
  </div>
<!-- </div> -->
<!-- End Contact Me -->

<!-- Today's Answers -->

<div class="section">
  <span id="useit" class="anchor"></span>
    <div class="container">
      <div class="row wow bounceInUp" >
        <% if @todays_posts.exists? %>
          <%= render 'todaysindex' %>   
          <% else %>
          <%= render 'nonefortodaysindex' %>
        <% end %>
      </div>
    </div>
  </div> 

<hr>

<!-- End Today's Answers -->





</div>
  <h1 class="nobootstrap">Topics</h1>
  <br><br>
  <div class="container">
    <div class="jumbotron">
      
      <div id="greetings" class="froala-view" class="float-center">
        <div id="posts" class="transitions-enabled"> 
          <% @previous_posts.each do |post| %>
            <div class="box panel panel-default">
              <%= link_to image_tag(post.image.url(:medium)), post %>
                <div class="panel-body">
                  <p><%= link_to post.title, post %></p>
                  <h4><%= link_to post.subtitle, post %></h4>
                </div>
            </div>
            <hr><hr>
          <% end %>
        </div>
      </div>

      <p class="lead" style="margin-top:0">Search</p>
      <%= form_tag(posts_search_path, method: "get") do %>
        <%= text_field_tag(:query) %>
        <%= submit_tag("Search") %>
      <% end %>
      




    </div> 
  </div>


     <hr><hr><hr>
  