<html lang="en">
<p id="notice"><%= notice %></p>
<body id="home">

<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>

<%= render 'layouts/navbarHomeNew' %> 

<!-- Contact Me -->
<div class="section answersTop">
  <span id="welcome" class="anchor"></span>
    <div class="container text-center">
      
        <div class="mobileNavbig">
          <div class="row">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> 
              Hi, there! Need help planning a Disney trip?</h1>
          </div>
        </div>
        <div class="mobileNavsmall">
          <div class="row">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> 
            <br>Hi, there! Need help planning a Disney trip?</h1>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">           
            <%= form_tag(posts_search_path, method: "get", class: "navbar-form") do %>
              <div class="input-group add-on">
                <%= text_field_tag(:query, nil, placeholder: 'I want to know about...', class: "form-control input-lg") %>
                  <div class="input-group-btn">
                    <%= button_tag(type: "submit", class: "btn btn-primary btn-lg") do %>
                      <i class="fa fa-search" aria-hidden="true"></i>                      <% end %>
                    </div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a href="#ask"><button type="button" class="btn btn-ask btn-lg"><p class="posts">Ask a Question <i class="fa fa-envelope"></i></p></button></a>
          </div>
        </div> 
       </div>
  </div>   
</div>
        
<!-- Q&A -->

<%= render 'tags/answers' %>      

<!-- Blog -->

<div class="section">
  <div class="container">
    <br>
    <span id="read" class="anchor"></span>
    <% if @recent_posts.exists? %>
        <h1 class="sectionhead">Blog <%= link_to image_tag("fairygirledit.png", height: "40px") %></h1><hr>
        <%= render 'allbuttoday' %>   
    <% end %>
    
  </div>
</div> 



<!-- End Today's Answers -->


<hr>
<!-- Contact Me -->
<div class="section">
  <span id="ask" class="anchor"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center abcen3">
          <br>
          <!-- <h2 class="h1_home wow fadeIn"> Ask      <i class="fa fa-magic"></i></h2> --> 
          <br>
          
          <div class="mobileNavbig">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> Ask a Question</h1>
            <p class="welcome" style="margin-top:0">... and check back later today for your answer! </p>
            <br>
          </div> 

          <div class="mobileNavsmall">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> Ask a Question</h1> 
            <p class="welcome" style="margin-top:0">... and check back later today for your answers!</p>
            <br>
          </div>

          <%= render 'contacts/new' %> 
          <br>       
        </div>
    </div>
  </div>
<!-- </div> -->
<!-- End Contact Me -->


<!-- SEARCH box ******************** 

  <div class="section">
    <div class="container">
      <span id="screen" class="anchor"></span>

        <h2 class="posts">
        ***  < %= render 'search' %>
        </h2>
      <hr> 
    </div>
  </div>
</div>
<!-- End Search box -->

<!-- Instagram -->
<div class="section answers"> 
  <br><h1 class="nobootstrap">Follow me <%= link_to image_tag("Insta.png", size: "60x60") %></h1>
  <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/a3b58894345b588fbc93588184fa043b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>

<!-- End Instagram -->

<div><%= render 'layouts/footer' %></div>  

<script>
$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
        $(this).collapse('hide');
    }
});
</script>

