<p id="notice"><%= notice %></p>

<h1>Monorails and Mickey Tales</h1><br><br>
  <div class="container">
    <div class="jumbotron">
      <div id="greetings" class="froala-view" class="float-center">
        <div id="posts" class="transitions-enabled"> 
          <% @posts.each do |post| %>
            <div class="box panel panel-default">
              <%= link_to image_tag(post.image.url(:medium)), post %>
                <div class="panel-body">
                  <p><%= link_to post.title, post %></p>
                  <h4><%= link_to post.subtitle, post %></h4>
                </div>
            </div>
            <hr><hr>
          <% end %>
        </div>
      <%= render 'contacts/new' %>
        
      </div>
    </div> 
  </div>


     <hr><hr><hr>
  