<html lang="en">
<p id="notice"><%= notice %></p>

<body id="home">
<!-- Preloader -->
  <div id="preloader">
    <div id="status">
    </div>

<!-- NavBar custom only for home page-->

<nav class="navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
      <%= link_to image_tag("fairygirledit.png", class: "rotate", height: "40px") %> 
      <a class="navbar-brand" href="#home">monorails & mickey tales</a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="menuItem"><a href="#contact">Questions</a></li>
        <li class="menuItem"><a href="#useit">Answers</a></li>
        <li class="menuItem"><a href="#whatis">Topics</a></li>
        <li class="menuItem"><a href="#screen"><i class="fa fa-search" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->

<!-- Contact Me -->
<div class="section">
  <span id="contact" class="anchor"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center abcen3">
          <br>
          <!-- <h2 class="h1_home wow fadeIn"> Ask      <i class="fa fa-magic"></i></h2> --> 
          <br>
          <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", class: "rotate", size: "60x60") %> 
          Hi, there! Need help planning a Disney trip?</h1>
          <p class="welcome" style="margin-top:0">
            <br><strong>Send me your questions</strong> <i class="fa fa-arrow-down" aria-hidden="true"></i> <br>... and check back later today for your answers! http://keithclark.co.uk/articles/pure-css-parallax-websites/
          </p>
          <br>
          <%= render 'contacts/new' %> 
          <br>        
        </div>
    </div>
  </div>
<!-- </div> -->
<!-- End Contact Me -->

<!-- Today's Answers -->

<div class="section answers">
  <span id="useit" class="anchor"></span>
    <div class="container">
      <div class="row wow bounceInUp" >
        <br>
        <% if @todays_posts.exists? %>
          <%= render 'todaysindex' %>   
          <% else %>
          <%= render 'nonefortodaysindex' %>
        <% end %>
        <br>
      </div>
    </div>
  </div> 

<hr>

<!-- End Today's Answers -->

<!-- TOPICS -->


<div class="section">
  <span id="whatis" class="anchor"></span>
    <div class="container">
      <h1 class="sectionhead">Topics</h1>

      <div id="greetings" class="froala-view" class="float-center">
        <div id="posts" class="transitions-enabled"> 
            
            <div class="box panel panel-default">
              <h1><i class="fa fa-cutlery" aria-hidden="true"></i></h1>
              <div class="panel-body">
                <p class="lead"><%= link_to 'Dining', tags_show_path(id:16) %></p>
              </div>
            </div>

            <div class="box panel panel-default">
              <h1><i class="fa fa-bed" aria-hidden="true"></i></h1>
              <div class="panel-body">
                <p class="lead"><%= link_to 'Resorts', tags_show_path(id:15) %></p>
              </div>
            </div>

            <div class="box panel panel-default">
              <h1><i class="fa fa-rocket" aria-hidden="true"></i></h1>
              <div class="panel-body">
                <p class="lead"><%= link_to 'Parks', tags_show_path(id:17) %></p>
              </div>
            </div>

            <div class="box panel panel-default">
              <h1><i class="fa fa-cutlery" aria-hidden="true"></i></h1>
              <div class="panel-body">
                <p class="lead"><%= link_to 'Transport', posts_path %></p>
              </div>
            </div>

            <div class="box panel panel-default">
              <h1><i class="fa fa-cutlery" aria-hidden="true"></i></h1>
              <div class="panel-body">
                <p class="lead"><%= link_to 'All', tags_index_path %></p>
              </div>
            </div>

            <div class="box panel panel-default">
              <h1><i class="fa fa-cutlery" aria-hidden="true"></i></h1>
              <div class="panel-body">
                <p class="lead"><%= link_to 'Resorts', posts_path %></p>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- End TOPICS -->

      
<!-- SEARCH box -->
<div class="section answers">
  <span id="screen" class="anchor"></span>
    <div class="container">
      <h1 class="sectionhead">Find <i class="fa fa-search" aria-hidden="true"></i></h1>

      <h2 class="float_center">
        <%= form_tag(posts_search_path, method: "get") do %>
          <%= text_field_tag(:query) %>
          <h1 class="nobootstrap"><%= submit_tag("Search", class: "btn btn-primary btn-lg") %></h1>
        <% end %>
      </h2>
    </div>
  </div>
</div>

      <!-- End Search box -->

<%= render 'layouts/footer' %> 
  