<html lang="en">
<p id="notice"><%= notice %></p>
<body id="home">

<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>

<%= render 'layouts/navbarHomeNew' %> 


  <span id="welcome" class="anchor"></span>
    <div class="container text-center">
      <div class="section">
        <div class="mobileNavbig">
          <div class="row">
            <br><br><br>
            <br>
            <h2 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> 
             Got 99 Disney trip questions?</h2>
            <h2 class="posts">Let me answer one*<h2>
            <p class="home"><strong>*Actually I can answer all 99. </strong>So let's get started before you're 2 hours into the line to meet Anna and Elsa, wondering why you saved for years just to stand in front of a three-year-old who's kicking your heels to pass the time.</p>
          </div>
        </div>
        <div class="mobileNavsmall">
          <div class="row">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> 
            <br>Got 99 Disney trip questions? </h1>
            <h2 class="posts">Let me answer one*<h2>
            <p class="home"><strong>*Actually I can answer all 99. </strong>So let's get started before you're 2 hours into the line to meet Anna and Elsa, wondering why you saved for years just to stand in front of a three-year-old who's kicking your heels to pass the time.</p>
          </div>
        </div>
      </div>
    <div class="section border-between">
        <br>
        <br>
        <div class="row border-between">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 answersTopLeft">           
            <a href="#ask"><button type="button" class="btn btn-ask btn-lg"><h3 class="postshow2">Ask a Question &nbsp;</h3></button></a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 answersTopRight">
            <%= form_tag(posts_search_path, method: "get", class: "navbar-form") do %>
              <div class="input-group add-on">
                <%= text_field_tag(:query, nil, placeholder: 'I want to know about...', class: "form-control input-lg") %>
                  <div class="input-group-btn">
                    <%= button_tag(type: "submit", class: "btn btn-primary btn-lg") do %>
                      <i class="fa fa-search" aria-hidden="true"></i>                      
                    <% end %>
                    </div>
              </div>
            <% end %>
          </div>
        </div>
        <br><br><br> 
       </div>
  </div>   
</div>
        
<!-- Q&A -->
<div class="section answers">
  <span id="answers" class="anchor"></span>
  <div class="row"><br> <br>
    <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> Latest Answers </h1>
    <br>
  </div>
</div>
<%= render 'tags/answers' %>      

<!-- Blog -->

<div class="section answers">
  <div class="container">
    <br> <br>
    <span id="read" class="anchor"></span>
    <% if @recent_posts.exists? %>
        <h1 class="nobootstrap">Blog <%= link_to image_tag("fairygirledit.png", height: "40px") %></h1>
        <%= render 'allbuttoday' %>   
    <% end %>
    
  </div>
</div> 


<!-- Contact Me  -->

<div class="section">
  <span id="ask" class="anchor"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <br><br>
          
          <div class="mobileNavbig">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> Ask a Question</h1>
            <p class="welcome">Check back later today for your answer! </p>
            <br>
          </div> 

          <div class="mobileNavsmall">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> Ask a Question</h1> 
            <p class="welcome">Check back later today for your answers!</p>
            <br>
          </div>

          <%= render 'contacts/new' %> 
          <br>       
        </div>
    </div>
  </div>



<!-- About me -->

<div class="section answers">
  <span id="answers" class="anchor"></span>
  <div class="row"><br> <br>
    <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> About Me</h1>
  </div>
      <h3 class="posts">4 things to know: <br><br>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <p class="about"><%= link_to image_tag("fairygirledit.png", height: "30px") %>I've been going to Disney since its executives made the bald-faced 1997 decision to dress Cinderella's Castle up like a <%= link_to 'birthday cake.', "https://s-media-cache-ak0.pinimg.com/originals/b4/78/7f/b4787fb044a6d7ff87bad31f8dd23c00.jpg", :target => "_blank", :style => 'color: #FF69B4;'  %> </p> 
            <p class="about"> <%= link_to image_tag("fairygirledit.png", height: "30px") %>I have a master's degree in creative writing, which has brought me incredible wealth.</p> 
            <p class="about"><%= link_to image_tag("fairygirledit.png", height: "30px") %>One day I tripped while approaching the ticket counter at Hollywood Studios. My Excel printouts spewed in all directions. The Disney cast member exclaimed, "Well somebody came prepared!" The genie had been let out of the bottle; my destiny to be a Disney planner revealed itself.</p>
            <p class="about"><%= link_to image_tag("fairygirledit.png", height: "30px") %>I enjoy extreme popularity on  <%= link_to 'Instagram', "https://www.instagram.com/monorailsandmickeytales", :target => "_blank", :style => 'color: #FF69B4;'  %> <%= link_to image_tag("Insta.png", size: "20x20") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Instagram 

<div class="section"> 

<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/a3b58894345b588fbc93588184fa043b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>

<!-- End Instagram  -->

<div><%= render 'layouts/footer' %></div>  

<script>
$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
        $(this).collapse('hide');
    }
});

$(document).ready(function(){
    $(this).scrollTop(0);
});
</script>

