
<% title 'monorails & mickey tales' %>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@disneywiz" />
<meta name="twitter:creator" content="@disneywiz" />
<meta property="og:url" content="http://www.monorailsandmickeytales.com" />
<meta property="og:title" content="monorails & mickey tales" />
<meta property="og:description" content="Your new go-to for Disney trip advice." />
<meta property="og:image" content="http://s3.amazonaws.com/mmtalesproduction/posts/images/000/000/021/xlarge/MagicalMonday00.jpg?1480365251" />

<p id="notice"><%= notice %></p>

<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>

<%= render 'layouts/navbarHomeNew' %> 


  <span id="welcome" class="anchor"></span>
    <div class="container text-center">
      <div class="section">
        <div class="mobileNavbig">
          <div class="row">
            <br><br><br>
            <br>
            <h2 class="nobootstrap"><%= link_to image_tag("fairygirlhead.png", size: "60x60") %> 
             Got 99 Disney trip questions?</h2>
            <h2 class="posts">I'm your expert. Let me answer one!<h2>
          </div>
        </div>
        <div class="mobileNavsmall">
          <div class="row">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.png", size: "60x60") %> 
            <br>Got 99 Disney trip questions? </h1>
            <h2 class="posts">I'm your expert. Let me answer one!<h2>
          </div>
        </div>
      </div>
    <div class="section border-between">
        <br>
        <br>
        <div class="row border-between">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 answersTopLeft">           
            <a href="#ask"><button type="button" class="btn btn-ask btn-lg"><h3 class="postshow2">Ask a Question &nbsp;</h3></button></a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 answersTopRight">
            <%= form_tag(posts_search_path, method: "get", class: "navbar-form") do %>
              <div class="input-group add-on">
                <%= text_field_tag(:query, nil, placeholder: 'I want to know about...', class: "form-control input-lg") %>
                  <div class="input-group-btn">
                    <%= button_tag(type: "submit", class: "btn btn-primary btn-lg") do %>
                      <i class="fa fa-search" aria-hidden="true"></i>                      
                    <% end %>
                    </div>
              </div>
            <% end %>
          </div>
        </div>
        <br><br><br> 
       </div>
  </div>   
</div>
        
<!-- Q&A -->
<div class="section answers">
  <span id="answers" class="anchor"></span>
  <div class="row"><br> <br>
    <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> Latest Answers </h1>
    <br>
  </div>
</div>
<%= render 'tags/answers' %>      

<!-- Blog -->

<div class="section answers">
  <div class="container">
    <br> <br>
    <span id="read" class="anchor"></span>
    <% if @recent_posts.exists? %>
        <h1 class="nobootstrap">Blog <%= link_to image_tag("fairygirledit.png", height: "40px") %></h1>
        <%= render 'allbuttoday' %>   
    <% end %>
    
  </div>
</div> 


<!-- Contact Me  -->

<div class="section">
  <span id="ask" class="anchor"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <br><br>
          
          <div class="mobileNavbig">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> Ask a Question</h1>
            <p class="welcome">Check back later today for your answer! </p>
            <br>
          </div> 

          <div class="mobileNavsmall">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> Ask a Question</h1> 
            <p class="welcome">Check back later today for your answers!</p>
            <br>
          </div>

          <%= render 'contacts/new' %> 
          <br>       
        </div>
    </div>
  </div>



<!-- About me -->

<div class="section answers">
  <span id="answers" class="anchor"></span>
  <div class="row"><br> <br>
    <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> About Me</h1>
  </div>
      <h3 class="posts">4 things to know: <br><br>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <p class="about"><%= link_to image_tag("fairygirledit.png", height: "30px") %>I've been going to Disney since 1997, when its executives made the bald-faced decision to dress Cinderella's Castle up like a <%= link_to 'birthday cake.', "https://s-media-cache-ak0.pinimg.com/originals/b4/78/7f/b4787fb044a6d7ff87bad31f8dd23c00.jpg", :target => "_blank", :style => 'color: #FF69B4;'  %> </p> 
            <p class="about"> <%= link_to image_tag("fairygirledit.png", height: "30px") %>I have a master's degree in creative writing.</p> 
            <p class="about"><%= link_to image_tag("fairygirledit.png", height: "30px") %>One day I tripped while approaching the ticket counter at Hollywood Studios. My Excel printouts spewed in all directions. The Disney cast member exclaimed, "Well somebody came prepared!" The genie had been let out of the bottle; my destiny to be a Disney planner revealed itself.</p>
            <p class="about"><%= link_to image_tag("fairygirledit.png", height: "30px") %>When I'm not blogging, you can find me chillin on <%= link_to 'Instagram', "https://www.instagram.com/monorailsandmickeytales", :target => "_blank", :style => 'color: #FF69B4;'  %> <%= link_to image_tag("Insta.png", size: "20x20") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Instagram 

<div class="section"> 

<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/a3b58894345b588fbc93588184fa043b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>

<!-- End Instagram  -->

<div><%= render 'layouts/footer' %></div>  

<script>
$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
        $(this).collapse('hide');
    }
});

$(document).ready(function(){
    $(this).scrollTop(0);
});

</script>

