<html lang="en">
<p id="notice"><%= notice %></p>
<body id="home">

<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>

<%= render 'layouts/navbarHomeNew' %> 


  <span id="welcome" class="anchor"></span>
    <div class="container text-center">
      <div class="section">
        <div class="mobileNavbig">
          <div class="row">
            <br><br><br>
            <br><br>
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> 
             Got Disney trip questions?</h1><br><br>
          </div>
        </div>
        <div class="mobileNavsmall">
          <div class="row">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> 
            <br>Got Disney trip questions?</h1>
          </div>
        </div>
      </div>
    <div class="section border-between">
        <br>
        <br>
        <div class="row border-between">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 answersTopLeft">           
            <a href="#ask"><button type="button" class="btn btn-ask btn-lg"><h3 class="postshow2">Ask a Question &nbsp;</h3></button></a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 answersTopRight">
            <%= form_tag(posts_search_path, method: "get", class: "navbar-form") do %>
              <div class="input-group add-on">
                <%= text_field_tag(:query, nil, placeholder: 'I want to know about...', class: "form-control input-lg") %>
                  <div class="input-group-btn">
                    <%= button_tag(type: "submit", class: "btn btn-primary btn-lg") do %>
                      <i class="fa fa-search" aria-hidden="true"></i>                      
                    <% end %>
                    </div>
              </div>
            <% end %>
          </div>
        </div>
        <br><br> 
       </div>
  </div>   
</div>
        
<!-- Q&A -->
<div class="section answers">
  <span id="answers" class="anchor"></span>
  <div class="row"><br> <br>
    <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> Latest Answers </h1>
    <br>
  </div>
</div>
<%= render 'tags/answers' %>      

<!-- Blog -->

<div class="section answers">
  <div class="container">
    <br>
    <span id="read" class="anchor"></span>
    <% if @recent_posts.exists? %>
        <h1 class="nobootstrap"><br>Blog <%= link_to image_tag("fairygirledit.png", height: "40px") %></h1>
        <%= render 'allbuttoday' %>   
    <% end %>
    
  </div>
</div> 
<hr>

<!-- Contact Me  -->

<div class="section">
  <span id="ask" class="anchor"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <br><br>
          
          <div class="mobileNavbig">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> Ask a Question</h1>
            <p class="welcome">Check back later today for your answer! </p>
            <br>
          </div> 

          <div class="mobileNavsmall">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirledit.png", height: "40px") %> Ask a Question</h1> 
            <p class="welcome">Check back later today for your answers!</p>
            <br>
          </div>

          <%= render 'contacts/new' %> 
          <br>       
        </div>
    </div>
  </div>



<!-- Instagram -->
<div class="section answers"> 
  <h2 class="posts">Follow me <%= link_to image_tag("Insta.png", size: "40x40") %></h2>
  <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/a3b58894345b588fbc93588184fa043b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>

<!-- End Instagram  -->

<div><%= render 'layouts/footer' %></div>  

<script>
$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
        $(this).collapse('hide');
    }
});

$(document).ready(function(){
    $(this).scrollTop(0);
});
</script>

