<html lang="en">
<p id="notice"><%= notice %></p>
<body id="home">

<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>

<%= render 'layouts/navbarHomeNew' %> 

<!-- Contact Me -->
<div class="section">
  <span id="ask" class="anchor"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center abcen3">
          <br>
          <!-- <h2 class="h1_home wow fadeIn"> Ask      <i class="fa fa-magic"></i></h2> --> 
          <br>
          
          <div class="mobileNavbig">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> 
            Hi, there! Need help planning a Disney trip?</h1>
            <p class="welcome" style="margin-top:0">
              <br><strong>Send me your questions</strong> <i class="fa fa-arrow-down" aria-hidden="true"></i> <br>... and check below later today for your answers!
            </p>
            <br>
          </div> 

          <div class="mobileNavsmall">
            <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", size: "60x60") %> 
            <br>Hi, there! Need help planning a Disney trip?</h1>
            <p class="welcome" style="margin-top:0">
              <br><strong>Send me your questions</strong> <i class="fa fa-arrow-down" aria-hidden="true"></i> <br>... and check back later today for your answers!
            </p>
            <br>
          </div>

          <%= render 'contacts/new' %> 
          <br>       
        </div>
    </div>
  </div>
<!-- </div> -->
<!-- End Contact Me -->

<!-- Today's Answers -->

<div class="section">
  <div class="container">
    <br>
    <span id="read" class="anchor"></span>
    <% if @recent_posts.exists? %>
        <h1 class="sectionhead">Today's Answer <%= link_to image_tag("fairygirledit.png", height: "40px") %></h1>
        <%= render 'todaysanswer' %>
        <br>
        <h1 class="sectionhead">Read More <%= link_to image_tag("fairygirledit.png", height: "40px") %></h1><hr>
        <%= render 'allbuttoday' %>   
    <% end %>
    
  </div>
</div> 



<!-- End Today's Answers -->

<!-- TOPICS -->


<div class="section">
    <div class="container">
      <span id="topics" class="anchor"></span>
      <h1 class="sectionhead">Topics <%= link_to image_tag("fairygirledit.png", height: "40px") %></h1>
      <hr> 
      <div class="float-center ">
        <div id="posts" class="transitions-enabled"> 

            <div class="box panel panel-default"> 
              <h3 class="text-center topicbutton"><%= link_to '<i class="fa fa-cutlery fa-2x"></i> <br>Food'.html_safe, tags_show_path(id:4), class: 'btn btn-lg btn-block outline' %></h3>
            </div>

            <div class="box panel panel-default">
              <h3 class="text-center topicbutton"><%= link_to '<i class="fa fa-bed fa-2x"></i> <br>Resorts'.html_safe, tags_show_path(id:3), class: 'btn btn-lg btn-block outline' %></h3>
            </div>

            <div class="box panel panel-default">
              <h3 class="text-center topicbutton"><%= link_to '<i class="fa fa-rocket fa-2x"></i> <br>Parks'.html_safe, tags_show_path(id:19), class: 'btn btn-lg btn-block outline' %></h3>
            </div>

            <div class="box panel panel-default">
              <h3 class="text-center topicbutton"><%= link_to '<i class="fa fa-bus fa-2x"></i> <br>Transport'.html_safe, tags_show_path(id:23), class: 'btn btn-lg btn-block outline' %></h3>
            </div>

            <div class="box panel panel-default">
              <h3 class="text-center topicbutton"><%= link_to '<i class="fa fa-gift fa-2x"></i> <br>Shopping'.html_safe, tags_show_path(id:25), class: 'btn btn-lg btn-block outline' %></h3>
            </div>

            <div class="box panel panel-default">
              <h3 class="text-center topicbutton"><%= link_to '<i class="fa fa-usd fa-2x"></i> <br>Budgets'.html_safe, tags_show_path(id:27), class: 'btn btn-lg btn-block outline' %></h3>
            </div>

        </div>
          
        </div>
      </div>

      <br><br>
    </div>
  </div>

<!-- End TOPICS -->

<!-- SEARCH box ******************** 

  <div class="section">
    <div class="container">
      <span id="screen" class="anchor"></span>

        <h2 class="posts">
        ***  < %= render 'search' %>
        </h2>
      <hr> 
    </div>
  </div>
</div>
<!-- End Search box -->

<div><%= render 'layouts/footer' %></div>  

<script>
$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
        $(this).collapse('hide');
    }
});
</script>
  