<% title 'monorails & mickey tales' %>

<%= render 'layouts/navbar' %> 
<div class="container">
  <div class="jumbotron">
    <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", class: "rotate", size: "50x50") %> Here are all the posts where I discuss <strong><%= params[:query].inspect.gsub('"', '"')%></strong></h1>    
    
    <hr>
    <br>

      <div id="topics" class="transitions-enabled"> 
        <% @posts.each do |post| %>
          <div class="box1 panel panel-default">
            <%= link_to image_tag(post.image.url(:medium)), post %>
            <div class="panel-body">
            <p class="recentpost"><%= link_to post.title, post %></p>           
          </div>
        </div>
        <% end %>
      </div>

    <div class="center"><%= link_to 'Back', posts_path, class: "btn btn-back btn-lg" %></div>
  </div>
</div>
<%= render 'layouts/footer' %> 