<p id="notice"><%= notice %></p>

<%= image_tag @post.image.url(:medium), :class => "img-responsive, center-block" %>

<h1><%= @post.title %></h1>

<h2><%= @post.subtitle %></h2>

<div class="froala-view"><%= @post.body.html_safe %></div>

<hr><h5><strong>Categories:</strong> <%= render @post.tags %> </h5><hr>

<% if @post.user == current_user %>   
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', posts_path %>

<div id="disqus_thread"></div>
	<script>

		var disqus_config = function () {
		this.page.url = "#{request.original_url}";
		this.page.identifier = "#{post.id}"; 
		};

		(function() { 
		// DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//monorails-and-mickey-tales-1.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();

	</script>
		
	<noscript>
		Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>




