<p id="notice"><%= notice %></p>

<div>
	<%= image_tag @post.image.url(:medium), :class => "img-responsive, center-block" %>

<h1><%= @post.title %></h1>

<h2><%= @post.subtitle %></h2>

<div class="froala-view"><%= @post.body.html_safe %></div>

<hr>
<h3><strong>Categories:</strong> <%= render @post.tags %> </h3>
<hr>

<% if @post.user == current_user %>   
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary btn-lg' %>
  <%= link_to 'Destroy', @post, class: 'btn btn-danger btn-lg', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', posts_path, class: 'btn btn-info btn-lg' %>

<%= render 'disqus' %>

</div>




