
<p id="notice"><%= notice %></p>

<%= render 'layouts/navbar' %> 
<div class="container">
  <div class="jumbotron">
    <h1 class="nobootstrap"><%= link_to image_tag("fairygirlhead.jpg", class: "rotate", size: "50x50") %> <%= @post.title %></h1>
    <br><br>
    <div class="Grid">
      <div class="Grid--1ofX">
        <%= image_tag @post.image.url(:xlarge), :class => "center-block" %> 
      </div>
     </div>
    
    
    <hr>
    <div class="froala-view"><%= @post.body.html_safe %></div>
    
    <h2 class="heart"><i class="fa fa-heart" aria-hidden="true"></i>,<h2> 
    <h2 class="signature">monorails & mickey tales <%= link_to image_tag("fairygirlhead.jpg", class: "rotate", size: "50x50") %></h2>
    <hr>
    <div class="row">
      <h3 class="postshow">
        <strong>Topics: </strong><%= render @post.tags %></h3>
        <hr>
        <div class="indent"><%= social_share_button_tag(@post.title) %> </div>
        <hr>
    </div>
  <span id="comments" class="anchor"></span>
    <%= render 'disqus' %>  </div>

  <!-- Comments -->   
    

  <!-- Recent posts -->
    <%= render 'otherrecent' %>
    <hr>
    <%= link_to 'Back', posts_path, class: 'btn btn-info btn-lg' %>
    <hr>

    

  <!-- Code for related posts would go here -->
    
    </div>

    <% if @post.user == current_user %>   
      <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Destroy', @post, class: 'btn btn-danger btn-lg', method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    

  </div>
</div>









