<p id="notice"><%= notice %></p>

<%= render 'layouts/navbar' %> <div>
<%= image_tag @post.image.url(:large), :class => "img-responsive, center-block" %>
<h1 class="nobootstrap"><%= @post.title %></h1>
<h1><%= social_share_button_tag(@post.title) %></h1>
<h2><%= @post.subtitle %></h2>

<div class="froala-view"><%= @post.body.html_safe %></div>

<hr>
<h3><strong>Categories:</strong> <%= render @post.tags %> </h3>
<hr>


<% if @post.user == current_user %>   
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary btn-lg' %>
  <%= link_to 'Destroy', @post, class: 'btn btn-danger btn-lg', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', posts_path, class: 'btn btn-info btn-lg' %>

<%= render 'disqus' %>

<footer>
    <div class="section answers">
        <div class="container"><div class="container answers">
            <h1><%= social_share_button_tag(@post.title) %></h1>
            <div class="row">
                <p class="text-muted">Copyright &copy;monorailsandmickeytales 2016</p>
                 <p>www.monorailsandmickeytales.com is not affiliated with, authorized or endorsed by, or in any way officially connected with The Walt Disney Company</p>
                <hr class="small">
            </div>
        </div>
    </div>
</footer>

</div>




