<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= display_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<!--- LOGIN STUFF -->

<h1><% if user_signed_in? %>
	<%= link_to "New Post", new_post_path, class: 'btn btn-info'  %>
	<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
<% end %></h1>


</body>
</html>

<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/60df2cc56f1b51d3b640ba9885babe83.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>